DATABASE_URL="mysql://user:password@localhost:3306/hintro_db"
JWT_SECRET="your-super-secret-jwt-key-minimum-32-characters"
JWT_EXPIRES_IN="1h"
PORT=3000
NODE_ENV="development"
GROQ_API_KEY="your-groq-api-key"
RESEND_API_KEY="your-resend-api-key"
RESEND_FROM_EMAIL="reminders@yourdomain.com"
